iOS/Web References/net.azurewebsites.parkpasspreferred20170104094844/ParkWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParkWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://parkpasspreferred20170104094844.azurewebsites.net/ParkWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://parkpasspreferred20170104094844.azurewebsites.net/ParkWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://parkpasspreferred20170104094844.azurewebsites.net/ParkWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParkWebService_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IParkWebService">
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IParkWebService/find" message="tns:IParkWebService_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParkWebService/findResponse" message="tns:IParkWebService_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IParkWebService/findAll" message="tns:IParkWebService_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParkWebService/findAllResponse" message="tns:IParkWebService_findAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParkWebService" type="tns:IParkWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IParkWebService/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IParkWebService/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParkWebService">
    <wsdl:port name="BasicHttpBinding_IParkWebService" binding="tns:BasicHttpBinding_IParkWebService">
      <soap:address location="http://parkpasspreferred20170104094844.azurewebsites.net/ParkWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>