iOS/Service References/parkpasspreferred20170104094844.azurewebsites.net_2/ParkWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://parkpasspreferred20170104094844.azurewebsites.net/ParkWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" />
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" minOccurs="0" name="findResult" nillable="true" type="q1:Park" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" minOccurs="0" name="findAllResult" nillable="true" type="q2:ArrayOfPark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>