iOS/Service References/parkpasspreferred20170104094844.azurewebsites.net/ParkWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ParkPassPreferred.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Park">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParkDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Park" nillable="true" type="tns:Park" />
  <xs:complexType name="ArrayOfPark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Park" nillable="true" type="tns:Park" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPark" nillable="true" type="tns:ArrayOfPark" />
</xs:schema>